/*

    Assignment 4
    Name: Omar Ducut
    Date: 2/11/20
    Description: Styles for the blog website

*/

html {
    overflow-y: scroll;
}

label {
    font-family: 'Heebo', sans-serif;
    display: block;
    color: #e6e600;
    font-weight: bold;
}

input, select {
    margin: 5px;
    padding: 10px;
    background-color: #696969;
    border: none;
    color: #FFF;
    font-size: 1em;
}

input.info{
    width: 40em;
}

div#participants {
    display: flex;
    align-items: center;
    margin: 5px;
}

div#participants div{
    display: flex;
    flex-direction: column;
}



textarea {
    margin: 5px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #696969;
    border: none;
    color: #FFF;
    font-size: 1em    
}

form, #content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

select#entry_type {
    width: 200px;
}

input[type="submit"] {
    font-family: 'Heebo', sans-serif;
    margin-top: 20px;
    display: block;
}

input[type="submit"]:hover {
    background-color: #505050;
    cursor: pointer;
}

input#date_of_birth, #event_date {
    width: 160px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    text-align: center;
    background-color: #696969;
    margin: 0px;
}

div#content {
    display: flex;
    flex-direction: row;
}

div.wrapper {
    margin: 10px;
    text-align: left;
    padding: 20px;
    background: #303030;
    flex: 4;    
}

div.images {
    display: inline-block;
    background: #696969;
    margin: 5px;
    padding: 10px;
}

div.images img {    
    background: #303030;
    vertical-align: middle;
    padding: 5px;
}

h3{
    color: #00aaff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.50em;    
    margin: 0px;
}

h4 {
    color: #FF9900;
    font-family: 'Heebo', sans-serif;
    font-size: 1.0em;    
    margin: 0px;
}

/* Create Account */

form#createAccount {
    flex-direction: column;
}

form#createAccount input {
    width: 400px;
}

form#createAccount input[type="submit"] {
    width: 200px;
}

/* Create Account END */

/* Login */

div.login{
    margin: 10px;
    padding: 20px;
    background: #303030;
}

form#login {
    display: block;
}

.login_input {
    display: block;
    margin: 10px auto;
}

/* Login END */

div.account {
    margin: 10px;
    padding: 20px;
    background: #303030;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
}

div.account ul li::marker {
    color: #FF9900;
}

div.account ul li a{
    color: #BEBEBE;    
}

div.account ul li a:hover{
    color: #FFF;
}

div.entry h2 a {
    text-decoration: none;
    color: #FFF;
}

div#header {
    display: flex;
    justify-content: flex-end;
    background-color: #303030;  
    padding: 20px;
    font-family: 'Titillium Web', sans-serif;
}

div#header img {
    height: 100px;
    width: auto;
    margin: 10px;
}

div#header h1 a {
    text-decoration: none;
    color: #e6e600;
    font-size: 2em;    
}

div.entry {
    background: #696969;
    padding: 3px;
    margin: 5px;
    color: #FFF;
}

div.entry h2 {
    margin-bottom: 0;
    word-wrap: break-word;   
}

div.entry p {
    margin-top: 0;
    word-wrap: break-word;    
}

div.entry div.entry_content p {
    margin-top: 0.5em;
    word-wrap: break-word;
}

ul#menu {
    display: flex;
    list-style: none;
    background-color: #303030;
    width: 80%;
    margin: 30px auto;
}

ul#menu li {
    flex: 1;
}

ul#menu li a {
    text-decoration: none;
    color: #00aaff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.50em;
}

ul#menu li a:hover
{
    color: #004466;
}

ul#menu li a.active{
    color: #e6e600;
}

div#footer {
    text-align: right;
    margin-top: 10px;    
}

p#error {
    display: inline;
    color: red;
}

table {
    border-collapse: collapse;
}

table thead a{
    color: #e6e600;
}

table tbody tr:nth-child(odd) {
    background-color: #404040;
}

table tbody tr:hover {
    background-color: #505050;
    cursor: pointer;
}

table td , table a{
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    color: #FFF;
    font-size: small;
}

table th {
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    text-align: left;
    padding: 10px 10px 10px 0px;
    color: #e6e600;
}

fieldset {
    border: none;
}

div#side_menu {
    width: 20%;
    margin: 10px;
    text-align: left;
    padding: 20px;
    background: #303030;
    flex: 1;    
    color: #00aaff;
    font-family: 'Titillium Web', sans-serif;
}

div#side_menu h4 {
    margin: 0px;
}

div#side_menu ul li::marker {
    color: #FF9900;
}

div#side_menu ul li a{
    color: #BEBEBE;    
}

div#side_menu ul li a:hover{
    color: #FFF;
}

a {
    text-decoration: none;
    color: #00aaff;
}

div.datatable {
    margin: 5px;
    padding: 10px;
    background-color: #696969;
}
div.datatable table {
    width: 100%;
    background-color: #303030;
}

div.datatable table thead th {
    color: #e6e600;
    padding: 10px 10px 10px 10px;
}

div.datatable table a{
    text-decoration: none;
    padding: 10px 10px 10px 0px;
}

div.datatable p {
    color: #FFF;
    margin: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.duration, input.rating {
  -moz-appearance: textfield;
  width: 50px;
}

div#duration {
    margin-left: 10px;
}

div#duration label {
    color: #FFF;
    display: inline;
    font-size: smaller;
}

div.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin: 10px 5px 0px 5px;
}

div.alert.success {background-color: #4CAF50;}
div.alert.warning {background-color: #ff9800;}

span.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

span.closebtn:hover {
  color: black;
}

small a {
    display: inline;
    color: #FF9900;
}

div#search_criteria{
    display: flex;
    flex-direction: row;
}

div#search_criteria label{
    margin: 5px;
}